* {
  margin: 0;

  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

#root {
  justify-self: center;
  width: 65%;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #17273d;
  background-image: linear-gradient(to bottom, #17273d, #2c476d);

  height: 100vh;
}
main {
  display: flex;
  justify-self: center;

  width: 100%;
}

/* Responsivity for small desktop screens*/
@media screen and (max-width: 1280px) {
  #root {
    width: 90%;
  }
}

/* Responsivity for tablet screens*/
@media screen and (max-width: 992px) {
  #root {
    width: 100%;
  }
}

/* Responsivity for smartphone screens*/
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
  #root {
    width: 100%;
  }
}
