.button {
  color: lightgray;
  border-radius: 50%;
}

.button:hover {
  cursor: pointer;
  color: rgba(211, 211, 211, 0.7);
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  width: 2rem;
  height: 2rem;

  background-color: lightgray;

  color: rgb(0, 0, 0);
}

.play-button:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(211, 211, 211, 0.7);
}

.songcard-section .play-button {
  position: absolute;
  right: 3rem;
}

.center-controls .play-button {
  font-size: 2rem;

  width: 3rem;
  height: 3rem;
}

.add-button {
  border-style: solid;
  border-color: lightgray;
  font-size: 1.5rem;
}

.add-button:hover {
  border-color: rgba(211, 211, 211, 0.7);
}

.fav-button {
  font-size: 1.5rem;
}

.forward-button,
.rewind-button {
  font-size: 2rem;
}
