.progressbar-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  padding: 1rem;
  gap: 1rem;
}

.progressbar {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);

  border-radius: 4px;
  height: 0.3rem;
  width: 70%;
}

.progressbar:hover {
  cursor: pointer;
}

.p {
  color: white;
}

.current-progress {
  background-color: white;

  border-radius: 4px;
  height: 0.4rem;
  width: 18%;
}
