.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  padding: 1rem;
}

.controls .center-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
