.songinfo-section {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  justify-content: space-around;
  align-items: center;

  color: lightgray;

  padding: 1rem;
  width: 100%;
}

.songinfo-section .song-title {
  text-align: center;
}

.songinfo-h1 {
  font-size: 1.2rem;
}

.songinfo-h2 {
  font-size: 1rem;
}
